.hello
{
    font-size:27px;
    font-family:Montserrat;
}
.name
{
    font-size:50px;
    font-family:BBH Bartle;
}
.domain
{
    font-size:40px;
    color:rgb(167, 12, 12);
}
.studies
{
    font-size:27px;
    font-family:Montserrat;
}